@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  height: 100vh;
  font-family: 'Dosis', 'sans-serif';
  width: 80%;
  margin: auto;
  color: #585858;
  position: relative;
  background-color: #fffdf7;
}

h1 {
  font-size: 65px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: 'Dosis', 'sans-serif';
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 45px;
    text-transform: uppercase;
  }

  .line {
    width: 12%;
    height: 3px;
    background-color: #585858;
  }

  .line-color {
    width: 10%;
    height: 7px;
    background-color: #1e3799;
    border-radius: 10px 0px 0px 10px;

    &:last-of-type {
      border-radius: 0px 10px 10px 0px;
    }
  }
}

.content {
  padding-bottom: 2em;
}

.light {
  font-weight: 400;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active{
  transition: opacity 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.slide-right-enter-active, .slide-left-enter-active {
  transition: all .3s ease;
}
.slide-right-leave-active, .slide-left-leave-active {
  transition: all .5s ;
}
.slide-right-enter 
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100vw);
}
.slide-left-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100vw);
}
